<!DOCTYPE html>
<html ng-app="cookbook">
  <head>
    <script src="https://code.angularjs.org/1.2.16/angular.js" data-semver="1.2.16" data-require="angular.js@*"></script>
    <script src="cookbook.js"></script>
  </head>
  <body>
    <div ng-controller="MainCtrl">
      Favourite member of the Juice Crew: <input type="text" ng-model="emcee"><br>
      Emcee: <span ng-bind="emcee"></span>
    </div>
  </body>
</html> 
