<!DOCTYPE html>
<html ng-app="cookbook">
  <head>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="cookbook.js"></script>
  </head>
  <body>
    <div ng-controller="MainCtrl">
      <span>Favourite member of the Juice Crew: {{emcee}}</span>
    </div>
  </body>
</html>


